body {
    padding-top: 70px;
  }

/*Utility*/
.color_black{
  color: black!important;
}
/* NAVBAR */
  nav {
  margin-bottom: 0 !important;
  border: none !important;
  background-color: white !important;
}
.navbar-brand>img {
  transform: translateY(-25%);
}
.navbar-brand {
  padding-top:25px !important; padding-bottom:0 !important;
  height: 70px;
}
.navbar-nav > li > a{
  line-height: 35px;
}
a.btn.btn-default{
  padding: 0px 10px;
  margin: 13.5px 0;
  color: white !important;
  border-radius: 20px;
  border: 1px solid #EB008D;
  background-color: #EB008D;
}
.navbar-default .navbar-nav > li > a.btn:focus, .navbar-default .navbar-nav > li > a.btn:hover{
  border: 1px solid #EB008D;
  background-color: #EB008D !important;
}
.navbar {
  min-height:70px !important;
}
.navbar-default .navbar-nav>li>a {
  font-size: 16px;
}
/*Navbar Toggle*/
.navbar-default .navbar-toggle {
  border: none;
  margin-top: 18px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:black
}

/*Menu a tendina*/
li ul.dropdown{
  display: none;
}

.dropdown{
  list-style: none;
}
.dropdown li > a{
  text-decoration: none;
}

/* /NAVBAR */